/*#slides_control > div{
	height: 200px;
}

/*img{
	margin:auto;
	width: 400px;
}

/*#slides_control {
	position:absolute;
	width: 400px;
	left:50%;
	top:20px;
	margin-left:-200px;
}

/*.row {
	margin-right: -15px;
	margin-left: -15px;
	box-sizing: border-box;
}*/

.tile {
	background-color: orange;
	padding: 1.5rem;
	border-radius: 2rem;
	margin-bottom: 1.5rem;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.strain-abbr-title h3 {
	margin: 1.25rem 0;
	font-weight: bold;
}

/* tile-link styles and hover effects */
a.tile-link,
a.tile-link:hover,
a.tile-link:active,
a.tile-link:visited {
	color: #333;
	display: block;
	text-decoration: none;
}

a.tile-link:hover {
	color: #fff;
}

a.tile-link:hover > .tile {
	background-color: darkmagenta;
	color: #fff;
	position: relative;
	top: -1rem;
}

/*
* Page Layout Styles (not important)

body {
	padding: 5rem 0;
}
*/

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 750px;
	width: 750px;
}
