/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

.jumbotron {
	position: relative;
	background-image: url(images/cannaduceus-header2.png);
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
}

#jumboTxt {
	text-align: center;
	color: #17466f;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 1px;
}

#signInButton {
	-webkit-align-content: center;

}

#cannaTitle {
	font-size: 10em;
}

#missingLink {
	font-size: 2em;
	color: whitesmoke;
	text-align: center;
}

#footerText {
	color: whitesmoke;
}