/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html {
	display: flex;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

.jumbotron {
	position: relative;
	background-image: url(images/cannaduceus-header2.png);
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	padding-top: 48px;
	padding-bottom: 48px;
}

#jumboTxt {
	text-align: center;
	color: #17466f;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 1px;
}

#signInButton {
	-webkit-align-content: center;

}

#cannaTitle {
	font-size: 10em;
}

#missingLink {
	font-size: 2em;
	color: whitesmoke;
	text-align: center;
}

#footerText {
	background: black;
	color: whitesmoke;

}

/* strain page css */
/*
* Default Tile Styles
*/
.tile {
	background-color: #eee;
	border: 3px solid rgba(0,0,0,0.1);
	border-radius: 2rem;
	display: flex;
	font-weight: bold;
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	position: relative;
	top: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.strain-type {
	align-self: flex-start;
}

.strain-name {
	align-self: flex-end;
}

.strain-abbr-title {
	align-self: center;
	flex: 1;
}

.strain-abbr-title h2 {
	margin: 1.25rem 0;
}

/*
* Tile link styles and hover effects
*/
a.tile-link,
a.tile-link:hover,
a.tile-link:active,
a.tile-link:visited {
	color: #333;
	display: block;
	text-decoration: none;
}

a.tile-link:hover > .tile {
	background-color: greenyellow;
	color: #333;
	top: -1rem;
}

.jumbotron {
	text-align: center;
	color: #17466f;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 1px
}

#weedsMenu {
	width: auto;
	margin: 1px auto;
	display: block;
}

/*accordion*/
.dropdown-accordion .panel-heading {
	padding: 0;
}
.dropdown-accordion .panel-heading a {
	display: block;
	padding: 10px 15px;
}

/*staticFooter*/
#staticFooter {
	color: whitesmoke;
}


