<phpunit>
	<testsuites>
		<testsuite name="Cannaduceus">
			<file>StrainLeafRatingTest.php</file>
			<file>DispensaryLeafRatingTest.php</file>
			<file>StrainTest.php</file>
			<file>StrainReviewTest.php</file>
			<file>DispensaryReviewTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../classes</directory>
		</whitelist>
	</filter>
</phpunit>
