<phpunit>
	<testsuites>
		<testsuite name="Cannaduceus">

			<file>StrainReviewTest.php</file>

			<file>ProfileTest.php</file>
			<file>DispensaryFavoriteTest.php</file>
			<file>StrainFavoriteTest.php</file>

		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../classes</directory>
		</whitelist>
	</filter>
</phpunit>
